body {
    margin: 0;
    padding: 0;
    background-color: #1B244A;
    color: #EEEEEE;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    margin-top: 68px;
}

.section-container {
    width: 155px;
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-family: Verdana;
    font-size: 40px;
    margin-bottom: 21px;
}

.score-background {
    width: 100%;
    height: 120px;
    background-color: #080001;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-score, #guest-score, button {
    font-family: 'Cursed Timer ULiL', sans-serif;
}

#home-score, #guest-score {
    color: #F94F6D;
    font-size: 90px;
    margin-top: 75px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    margin-top: 26px;
}

button {
    height: 45px;
    width: 45px;
    font-size: 18px;
    background-color: #1B244A;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    box-shadow: none;
    border-radius: 5px;
}